# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE specific folders
.idea/
.vscode/
.DS_Store
.dccache
.iac-data
## VSCode workspace file
workspace*.code-*

# Transit folders
bin/

# whatever the rules are, include all the `.md` files
!*.md

# build secrets keys while building docker compose
build/docker/ftp.env
build/docker/service/custom_httpd/server.crt
build/docker/service/custom_httpd/server.key
build/docker/service/custom_sshd/ssh_users.txt
build/docker/service/custom_sshd/keys/riopot_rsa
build/docker/service/custom_sshd/keys/riopot_rsa.pub

# tcpdump
tcpdump
